* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: row;
}

#image{
    background-color: black;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7%;
    margin-bottom: 7%;
    padding-left: 50px;
}

h2 {
    width: 50vw;
}

#formContainer {
    display: flex;
    flex-direction: row;
    gap: 4em;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(197, 197, 197);
    margin-bottom: 50px;
    flex-wrap: wrap;

}

#formbox1,
#formbox2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.labels {
    display: flex;
    flex-direction: column;
    
}

input {
    height: 1.8em;
    width: 18em;
    font-size: 1em;
}

input:focus:valid {
    outline-color: rgb(42, 81, 255);
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
}

input:focus:invalid {
    outline-color: rgb(209, 0, 0);;
    border-radius: 5px;
}

button {
    background-color: rgb(209, 129, 255);
    border: none;
    border-radius: 10px;
    height: 3em;
    width: 16em;
    font-size: large;
    font-weight: bolder;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

p {
    font-weight: 600;
}

span {
    font-style: italic;
}