* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: row;
}

#image {
    background-color: black;
    height: 98vh;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 50px;
}

h2 {
    width: 50vw;
}

#formContainer {
    display: flex;
    flex-direction: row;
    gap: 4em;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(197, 197, 197);
    margin-bottom: 50px;
    flex-wrap: wrap;

}

#formbox1,
#formbox2 {
    display: flex;
    flex-direction: column;
    gap: 2em;
    
}

.labels {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

input {
    min-width: 0;
    height: 1.7em;
    width: 25vw;
    max-width: 20em;
    font-size: 1em;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.3);
    display: inline;
}

input:focus:valid {
    outline-color: rgb(42, 81, 255);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(95, 95, 95);
}

input:focus:invalid {
    outline-color: rgb(209, 0, 0);;
    border-radius: 5px;
}

button {
    background-color: rgb(209, 129, 255);
    border: none;
    border-radius: 10px;
    max-height: 3em;
    max-width: 16em;
    width: 20vw;
    height: 10vh;
    font-size: large;
    font-weight: bolder;
    margin-bottom: 20px;
    flex-shrink: 1;
}

a {
    text-decoration: none;
}

p {
    font-weight: 600;
}

span {
    font-style: italic;
}